{{ $component := "environment-configmap" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cronitor-kubernetes-agent.fullname" . }}-{{ $component }}
  labels:
    {{ include "cronitor-kubernetes-agent.labels" . | nindent 4 }}
data:

  CHART_VERSION: {{ .Chart.Version | quote }}
  APP_VERSION: {{ .Chart.AppVersion | quote }}
  KUBERNETES_VERSION: {{ .Capabilities.KubeVersion | quote }}
  DEFAULT_BEHAVIOR: {{ .Values.config.default | quote }}
  DEFAULT_ENV: {{ .Values.config.defaultEnvironment | quote }}
  TAGS: {{ .Values.config.tags | quote }}

  {{ if .Values.config.sentryEnabled }}
  SENTRY_ENABLED: 'true'
  SENTRY_RELEASE: 'chart@{{ .Chart.Version }}|app@{{ .Chart.AppVersion }}'
  SENTRY_ENVIRONMENT: 'production'
  {{ end }}

  {{ if .Values.config.yourEmail }}
  SUPPORT_EMAIL_ADDRESS: {{ .Values.config.yourEmail | quote }}
  {{ end }}